.sidebar {
  width: 250px; /* 사이드바의 너비를 지정 */
  padding: 20px;
  border-right: 1px solid #ccc;
}

/* 추가적인 스타일링 */
.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.text {
  color: black;
  text-decoration: none;
}
